header {
  font-family: "Helvetica", sans-serif;
  display: block;
  text-align: center;
  background: #EE6C4D;
}
body {
  background: #293241;
}

nav {
  display:flex;
  background: #3D5A80;
  text-decoration: none;
  color: black;
  justify-content: center;
  flex-direction: row;
  align-content: space-evenly;

  
}

.nav-link {
  padding: 0 50px 0 50px;
  text-decoration: none;
  color: #E0FBFC;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-link a:hover {
  color: #EE6C4D;
}


.flex-container-1 {
  display: flex;
  flex-direction: grid;
  justify-content: center;
  align-items: center;
  background: #E0FBFC;
}
  .wrapper {
    text-align: center;
    background-color: #E0FBFC;
  }
  .interests {
    display: inline-block;
    text-align: left;
  }

  .wrapper2 {
    text-align: center;
    background-color: #98C1D9;
  }
  .objectives {
    display: inline-block;
    text-align: left;
}
 
/* selector
  .class
  #id
  element
 {
    attribute: value;
} */
p {
  font-family: "Roboto", -apple-system, "San Francisco", "Segoe UI",
    "Helvetica Neue", sans-serif;
}

.red-text {
  color: red;
}

.blue-text {
  color: blue;
}

.link {
  display: inline-block;
  margin: 2px;
  width: calc(33% - 6px);
}

.center {
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
  background: #3D5A80;
  justify-content: center;
}

img {
  display: block;
  height: 200;
  width: 400px;
  margin: auto;
}
.footer {
  background: #3D5A80;
}